# Python data analysis

In [45]:
import numpy as np
import pandas as pd
import glob
import os

In [87]:
 # make your own path to the data
path='/Users/alessandralupini/Downloads/Project_PythonDataIES-master/First_q/'
csv_path=path+"*.csv"
files=glob.glob(csv_path)      # gives you list of csv files in the directory

files=sorted(files)

In [88]:
first_q= [pd.read_csv(file) for file in files]

In [89]:
# make your own path to the data
path2='/Users/alessandralupini/Downloads/Project_PythonDataIES-master/second_q/'
csv_path2=path2+"*.csv"
files2=glob.glob(csv_path2)     # gives you list of csv files in the directory
files2=sorted(files2)

In [90]:
second_q= [pd.read_csv(file) for file in files2]

In [93]:
# make your own path to the data
path3='/Users/alessandralupini/Downloads/Project_PythonDataIES-master/Third_q/'
csv_path3=path3+"*.csv"
files3=glob.glob(csv_path3)     # gives you list of csv files in the directory
files3=sorted(files3)

In [94]:
Third_q= [pd.read_csv(file) for file in files3]

In [95]:
# make your own path to the data
path4='/Users/alessandralupini/Downloads/Project_PythonDataIES-master/Fourth_q/'
csv_path4=path4+"*.csv"
files4=glob.glob(csv_path4)     # gives you list of csv files in the directory
files4=sorted(files4)

In [96]:
Fourth_q= [pd.read_csv(file) for file in files4]

In [98]:
len(Third_q)

1820

In [103]:
Second_q[0]

NameError: name 'Second_q' is not defined

In [104]:
second_q[0]

,city,year,month,Giorno,T Media,T min,T max,Precip.,Umidit√†,Vento Max
0,Bari,1985,Aprile,1,12.4,7.4,17.2,,76,27.8
1,Bari,1985,Aprile,2,12.8,8.8,17.2,,71,13.0
2,Bari,1985,Aprile,3,12.6,9.0,18.0,,82,14.8
3,Bari,1985,Aprile,4,13.1,8.0,17.2,,83,13.0
4,Bari,1985,Aprile,5,16.1,10.0,21.4,,60,25.9
5,Bari,1985,Aprile,6,15.7,10.0,21.0,,71,16.5
6,Bari,1985,Aprile,7,15.4,11.0,21.0,,71,27.8
7,Bari,1985,Aprile,8,17.3,8.4,26.0,,55,25.9
8,Bari,1985,Aprile,9,20.6,12.4,28.2,,54,22.2
9,Bari,1985,Aprile,10,23.4,17.0,33.0,,37,31.7
10,Bari,1985,Aprile,11,16.2,12.0,20.0,,52,24.1
11,Bari,1985,Aprile,12,13.1,7.0,19.0,,62,31.7
12,Bari,1985,Aprile,13,10.2,7.0,14.8,1.0,78,42.4
13,Bari,1985,Aprile,14,12.1,7.6,16.2,,67,16.5
14,Bari,1985,Aprile,15,11.4,10.0,13.2,6.0,87,14.8
15,Bari,1985,Aprile,16,11.9,10.0,14.0,43.0,87,38.9
16,Bari,1985,Aprile,17,11.8,11.0,13.4,32.0,88,31.7
17,Bari,1985,Aprile,18,11.9,11.0,14.0,,86,22.2
18,Bari,1985,Aprile,19,12.6,10.0,15.8,,78,24.1
19,Bari,1985,Aprile,20,11.9,9.0,15.6,,83,20.6
20,Bari,1985,Aprile,21,12.3,6.0,15.4,,84,16.5
21,Bari,1985,Aprile,22,14.4,8.0,19.0,,71,22.2
22,Bari,1985,Aprile,23,13.7,12.0,16.0,1.0,91,20.6
23,Bari,1985,Aprile,24,14.6,9.2,18.6,,77,11.1
24,Bari,1985,Aprile,25,13.7,12.4,15.8,,82,22.2
25,Bari,1985,Aprile,26,17.1,13.0,23.0,1.0,77,33.5
26,Bari,1985,Aprile,27,16.1,10.8,19.6,,73,20.6
27,Bari,1985,Aprile,28,18.1,11.4,24.0,,66,24.1
28,Bari,1985,Aprile,29,11.6,8.0,16.4,,69,29.4
29,Bari,1985,Aprile,30,11.8,4.0,16.4,,52,29.4
...,...,...,...,...,...,...,...,...,...,...
61,Bari,1985,Giugno,1,20.6,16.2,23.2,,71,20.6
62,Bari,1985,Giugno,2,20.7,15.0,24.0,,67,13.0
63,Bari,1985,Giugno,3,20.7,16.0,24.2,,76,16.5
64,Bari,1985,Giugno,4,20.4,15.4,24.0,,77,14.8
65,Bari,1985,Giugno,5,21.3,16.0,25.0,,67,13.0
66,Bari,1985,Giugno,6,23.8,17.0,28.8,,54,14.8
67,Bari,1985,Giugno,7,27.0,19.8,32.0,,40,13.0
68,Bari,1985,Giugno,8,26.0,21.0,32.0,,43,27.8
69,Bari,1985,Giugno,9,21.6,16.0,25.0,,65,22.2
70,Bari,1985,Giugno,10,21.4,15.0,26.0,,44,24.1
71,Bari,1985,Giugno,11,20.3,15.2,24.0,,62,24.1
72,Bari,1985,Giugno,12,18.9,16.0,21.6,,76,18.3
73,Bari,1985,Giugno,13,23.2,15.0,30.0,,47,16.5
74,Bari,1985,Giugno,14,24.8,17.0,30.0,,39,16.5
75,Bari,1985,Giugno,15,27.9,22.0,37.0,,42,25.9
76,Bari,1985,Giugno,16,22.7,19.4,27.0,,76,14.8
77,Bari,1985,Giugno,17,21.6,17.0,29.2,,56,38.9
78,Bari,1985,Giugno,18,17.3,13.0,19.0,,59,33.5
79,Bari,1985,Giugno,19,17.8,10.8,21.0,,57,13.0
80,Bari,1985,Giugno,20,20.8,14.6,28.0,,71,29.4
81,Bari,1985,Giugno,21,18.6,14.0,22.2,0.0,74,37.0
82,Bari,1985,Giugno,22,19.7,11.6,25.0,,53,27.8
83,Bari,1985,Giugno,23,21.7,17.0,27.0,,62,18.3
84,Bari,1985,Giugno,24,19.6,17.0,23.0,,64,61.1
85,Bari,1985,Giugno,25,20.3,14.4,23.0,,56,18.3
86,Bari,1985,Giugno,26,20.8,16.0,24.4,,62,24.1
87,Bari,1985,Giugno,27,24.8,17.0,31.2,,46,24.1
88,Bari,1985,Giugno,28,20.8,18.8,24.0,,75,20.6
89,Bari,1985,Giugno,29,19.1,14.0,27.0,,81,16.5
90,Bari,1985,Giugno,30,20.8,13.0,27.0,,47,18.3

In [105]:
'''  Add a new column - difference between max and min temperature  '''
for table in first_q:
    table["T diff"]=table.iloc[:,6]-table.iloc[:,5]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
path#[0:10]

In [ ]:
files[0:10]