# Python data analysis

In [1]:
import numpy as np
import pandas as pd
import glob
import os

In [200]:
path='d:\moje_dokumenty\Desktop\IES\semester 11\Python\project\First_q\ '  # make your own path to the data
csv_path=path+"*.csv"
files=glob.glob(csv_path)      # gives you list of csv files in the directory
files=sorted(files)            # just to make sure that the order is correct

In [119]:
Q1= [pd.read_csv(file) for file in files]
len(Q1)

In [121]:
path2='d:\moje_dokumenty\Desktop\IES\semester 11\Python\project\second_q\ '  # make your own path to the data
csv_path2=path2+"*.csv"
files2=glob.glob(csv_path2)      # gives you list of csv files in the directory
files2=sorted(files2)            # just to make sure that the order is correct

In [122]:
Q2= [pd.read_csv(file) for file in files2]
len(Q2)

1820

In [123]:
path3='d:\moje_dokumenty\Desktop\IES\semester 11\Python\project\Third_q\ '  # make your own path to the data
csv_path3=path3+"*.csv"
files3=glob.glob(csv_path3)      # gives you list of csv files in the directory
files3=sorted(files3)            # just to make sure that the order is correct

In [124]:
Q3= [pd.read_csv(file) for file in files3]
len(Q3)

1820

In [125]:
path4='d:\moje_dokumenty\Desktop\IES\semester 11\Python\project\Fourth_q\ '  # make your own path to the data
csv_path4=path4+"*.csv"
files4=glob.glob(csv_path4)      # gives you list of csv files in the directory
files4=sorted(files4)            # just to make sure that the order is correct

In [126]:
Q4= [pd.read_csv(file) for file in files4]
len(Q4)

1820

In [129]:
''' Changing names of columns to english  '''
for x in Q1: 
    x.columns=['city', 'year', 'month', 'day', 'mean T', 'min T', 'max T', 'prec', 'humidity', 'wind']
for x in Q2: 
    x.columns=['city', 'year', 'month', 'day', 'mean T', 'min T', 'max T', 'prec', 'humidity', 'wind']
for x in Q3: 
    x.columns=['city', 'year', 'month', 'day', 'mean T', 'min T', 'max T', 'prec', 'humidity', 'wind']
for x in Q4: 
    x.columns=['city', 'year', 'month', 'day', 'mean T', 'min T', 'max T', 'prec', 'humidity', 'wind']

In [132]:
''' Creating a column with the difference between max and min daily temperature '''
for table in Q1:
    table["T diff"]=table["max T"]-table["min T"]

for table in Q2:
    table["T diff"]=table["max T"]-table["min T"]
for table in Q3:
    table["T diff"]=table["max T"]-table["min T"]
for table in Q4:
    table["T diff"]=table["max T"]-table["min T"]

In [146]:
''' Assuming that missing values for reciprication means no rain  '''
for x in Q1:
    x["prec"]=x["prec"].replace(np.NaN,0)
for x in Q2:
    x["prec"]=x["prec"].replace(np.NaN,0)
for x in Q3:
    x["prec"]=x["prec"].replace(np.NaN,0)
for x in Q4:
    x["prec"]=x["prec"].replace(np.NaN,0)

## Calculations of quarterly averages and variances

In [217]:
''' Calculation of quarterly mean of daily temperatures'''
meanT_means_Q1=[np.mean(x["mean T"]) for x in Q1]
meanT_means_Q2=[np.mean(x["mean T"]) for x in Q2]
meanT_means_Q3=[np.mean(x["mean T"]) for x in Q3]
meanT_means_Q4=[np.mean(x["mean T"]) for x in Q4]

In [218]:
''' Calculation of quarterly mean of precipitations'''
prec_means_Q1=[np.mean(x["prec"]) for x in Q1]
prec_means_Q2=[np.mean(x["prec"]) for x in Q2]
prec_means_Q3=[np.mean(x["prec"]) for x in Q3]
prec_means_Q4=[np.mean(x["prec"]) for x in Q4]

In [219]:
''' Calculation of quarterly mean of daily maximal wind'''
wind_means_Q1=[np.mean(x["wind"]) for x in Q1]
wind_means_Q2=[np.mean(x["wind"]) for x in Q2]
wind_means_Q3=[np.mean(x["wind"]) for x in Q3]
wind_means_Q4=[np.mean(x["wind"]) for x in Q4]

In [220]:
''' Calculation of quarterly mean of daily temperature range'''
Tdiff_means_Q1=[np.mean(x["T diff"]) for x in Q1]
Tdiff_means_Q2=[np.mean(x["T diff"]) for x in Q2]
Tdiff_means_Q3=[np.mean(x["T diff"]) for x in Q3]
Tdiff_means_Q4=[np.mean(x["T diff"]) for x in Q4]

In [221]:
''' Calculation of quarterly mean of humidity  '''
hum_means_Q1=[np.mean(x["humidity"]) for x in Q1]
hum_means_Q2=[np.mean(x["humidity"]) for x in Q2]
hum_means_Q3=[np.mean(x["humidity"]) for x in Q3]
hum_means_Q4=[np.mean(x["humidity"]) for x in Q4]

In [222]:
''' Calculation of quarterly variance of daily temperatures  '''
meanT_var_Q1=[np.var(x["mean T"]) for x in Q1]
meanT_var_Q2=[np.var(x["mean T"]) for x in Q2]
meanT_var_Q3=[np.var(x["mean T"]) for x in Q3]
meanT_var_Q4=[np.var(x["mean T"]) for x in Q4]

In [223]:
''' Calculation of quarterly variance of precipitation  '''
prec_var_Q1=[np.var(x["prec"]) for x in Q1]
prec_var_Q2=[np.var(x["prec"]) for x in Q2]
prec_var_Q3=[np.var(x["prec"]) for x in Q3]
prec_var_Q4=[np.var(x["prec"]) for x in Q4]

In [224]:
''' Calculation of quarterly variance of daily maximal wind  '''
wind_var_Q1=[np.var(x["wind"]) for x in Q1]
wind_var_Q2=[np.var(x["wind"]) for x in Q2]
wind_var_Q3=[np.var(x["wind"]) for x in Q3]
wind_var_Q4=[np.var(x["wind"]) for x in Q4]

In [225]:
''' Calculation of quarterly variance of daily temperature range '''
Tdiff_var_Q1=[np.var(x["T diff"]) for x in Q1]
Tdiff_var_Q2=[np.var(x["T diff"]) for x in Q2]
Tdiff_var_Q3=[np.var(x["T diff"]) for x in Q3]
Tdiff_var_Q4=[np.var(x["T diff"]) for x in Q4]

In [226]:
''' Calculation of quarterly variance of humidity '''
hum_var_Q1=[np.var(x["humidity"]) for x in Q1]
hum_var_Q2=[np.var(x["humidity"]) for x in Q2]
hum_var_Q3=[np.var(x["humidity"]) for x in Q3]
hum_var_Q4=[np.var(x["humidity"]) for x in Q4]

### Creating quarterly data and measures for the whole Italy

In [227]:
''' Creating quarterly dataframes for the whole Italy ''' 
all_ITA_Q1=[pd.concat(Q1[i::35]) for i in range(int(len(Q1)/35))]
all_ITA_Q2=[pd.concat(Q2[i::35]) for i in range(int(len(Q2)/35))]
all_ITA_Q3=[pd.concat(Q3[i::35]) for i in range(int(len(Q3)/35))]
all_ITA_Q4=[pd.concat(Q4[i::35]) for i in range(int(len(Q4)/35))]

In [228]:
''' Calculation of quarterly averages for all Italian data '''
ITA_meanT_means_Q1=[np.mean(x["mean T"]) for x in all_ITA_Q1]
ITA_wind_means_Q1=[np.mean(x["wind"]) for x in all_ITA_Q1]
ITA_prec_means_Q1=[np.mean(x["prec"]) for x in all_ITA_Q1]
ITA_Tdiff_means_Q1=[np.mean(x["T diff"]) for x in all_ITA_Q1]
ITA_hum_means_Q1=[np.mean(x["humidity"]) for x in all_ITA_Q1]

ITA_meanT_means_Q2=[np.mean(x["mean T"]) for x in all_ITA_Q2]
ITA_wind_means_Q2=[np.mean(x["wind"]) for x in all_ITA_Q2]
ITA_prec_means_Q2=[np.mean(x["prec"]) for x in all_ITA_Q2]
ITA_Tdiff_means_Q2=[np.mean(x["T diff"]) for x in all_ITA_Q2]
ITA_hum_means_Q2=[np.mean(x["humidity"]) for x in all_ITA_Q2]

ITA_meanT_means_Q3=[np.mean(x["mean T"]) for x in all_ITA_Q3]
ITA_wind_means_Q3=[np.mean(x["wind"]) for x in all_ITA_Q3]
ITA_prec_means_Q3=[np.mean(x["prec"]) for x in all_ITA_Q3]
ITA_Tdiff_means_Q3=[np.mean(x["T diff"]) for x in all_ITA_Q3]
ITA_hum_means_Q3=[np.mean(x["humidity"]) for x in all_ITA_Q3]

ITA_meanT_means_Q4=[np.mean(x["mean T"]) for x in all_ITA_Q4]
ITA_wind_means_Q4=[np.mean(x["wind"]) for x in all_ITA_Q4]
ITA_prec_means_Q4=[np.mean(x["prec"]) for x in all_ITA_Q4]
ITA_Tdiff_means_Q4=[np.mean(x["T diff"]) for x in all_ITA_Q4]
ITA_hum_means_Q4=[np.mean(x["humidity"]) for x in all_ITA_Q4]

In [229]:
''' Calculation of quarterly variances for all Italian data '''
ITA_meanT_var_Q1=[np.var(x["mean T"]) for x in all_ITA_Q1]
ITA_wind_var_Q1=[np.var(x["wind"]) for x in all_ITA_Q1]
ITA_prec_var_Q1=[np.var(x["prec"]) for x in all_ITA_Q1]
ITA_Tdiff_var_Q1=[np.var(x["T diff"]) for x in all_ITA_Q1]
ITA_hum_var_Q1=[np.var(x["humidity"]) for x in all_ITA_Q1]

ITA_meanT_var_Q2=[np.var(x["mean T"]) for x in all_ITA_Q2]
ITA_wind_var_Q2=[np.var(x["wind"]) for x in all_ITA_Q2]
ITA_prec_var_Q2=[np.var(x["prec"]) for x in all_ITA_Q2]
ITA_Tdiff_var_Q2=[np.var(x["T diff"]) for x in all_ITA_Q2]
ITA_hum_var_Q2=[np.var(x["humidity"]) for x in all_ITA_Q2]

ITA_meanT_var_Q3=[np.var(x["mean T"]) for x in all_ITA_Q3]
ITA_wind_var_Q3=[np.var(x["wind"]) for x in all_ITA_Q3]
ITA_prec_var_Q3=[np.var(x["prec"]) for x in all_ITA_Q3]
ITA_Tdiff_var_Q3=[np.var(x["T diff"]) for x in all_ITA_Q3]
ITA_hum_var_Q3=[np.var(x["humidity"]) for x in all_ITA_Q3]

ITA_meanT_var_Q4=[np.var(x["mean T"]) for x in all_ITA_Q4]
ITA_wind_var_Q4=[np.var(x["wind"]) for x in all_ITA_Q4]
ITA_prec_var_Q4=[np.var(x["prec"]) for x in all_ITA_Q4]
ITA_Tdiff_var_Q4=[np.var(x["T diff"]) for x in all_ITA_Q4]
ITA_hum_var_Q4=[np.var(x["humidity"]) for x in all_ITA_Q4]

# To do: create 35-long time series for each city across variables and quarters for both averages and variances 

# interpret averages and variances time series that we have, their historical development, what can we imply from that, plot them to see how they were changing throughout the time; to think what else can we learn from our data

## Perhaps good idea to plot all of the 52 city time series of variable X over Nth quarter into a single plot; for better comparison we can standardized each series of averages and variances with the mean of that time series

In [230]:
# list of city specific time series of averages of the variable "mean temperature" over Q1
t_series_meanT_means_Q1=[meanT_means_Q1[i*35:((i+1)*35)] for i in range(52)]

In [231]:
print(len(t_series_meanT_means_Q1))   # we have list of 52 time series - for each city 
print(len(t_series_meanT_means_Q1[0])) # each time series has 35 observations - first quarter of years 1985-2019

52
35

In [232]:
t_series_meanT_means_Q1[0] # average temperature during 1st quarter of year in Bari (1st city), 1985-2019

[8.879999999999999,
 8.977777777777774,
 7.453333333333335,
 9.073626373626377,
 9.045555555555556,
 9.643333333333329,
 9.210000000000003,
 8.674725274725278,
 7.635555555555557,
 10.42,
 9.207777777777782,
 8.254945054945056,
 9.468888888888888,
 9.133333333333335,
 8.858426966292138,
 8.790588235294116,
 11.040000000000004,
 9.463333333333335,
 7.947777777777782,
 8.647252747252743,
 7.524444444444442,
 8.494444444444445,
 10.443333333333335,
 9.83186813186813,
 8.931818181818182,
 9.314606741573034,
 8.898876404494382,
 8.887640449438202,
 9.707865168539326,
 12.07865168539326,
 9.333333333333334,
 11.714285714285714,
 9.426966292134832,
 9.855555555555556,
 9.48314606741573]

In [233]:
# same but for the variance
t_series_meanT_var_Q1=[meanT_var_Q1[i*35:((i+1)*35)] for i in range(52)]

# to do this for means and variances of other quarters of year and other variables